<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lnpdit.lntv.tradingtime"
    android:versionCode="22"
    android:versionName="1.4.3" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="lnpdit.lntv.tradingtime.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- Optional for location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <!-- umeng -->
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_ADDED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_CHANGED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_INSTALL" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REPLACED" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <permission
        android:name="com.umeng.message.example.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signatureOrSystem" />

    <uses-permission android:name="com.umeng.message.example.permission.MIPUSH_RECEIVE" />

    <application
        android:name="com.sxit.activity.base.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@style/Transparent" >

        <!--
        umeng key
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="544e358afd98c5dc5c00985c" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="研发" />
        -->

        <activity
            android:name="com.sxit.activity.welcome.Welcome_Activity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="DESCRIPTION"
                android:value="欢迎页" />
        </activity>
        <activity
            android:name="com.sxit.activity.th.HomePageActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="首页" />
        </activity>
        <activity
            android:name="com.sxit.activity.th.living.MoreLiving_Activity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="更多直播" />
        </activity>
         <activity
            android:name="com.sxit.activity.th.living.NowLivingDetails_Activity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="单击正在直播" />
        </activity>
        
        <activity
            android:name="com.sxit.activity.main.StockNews_Activity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="股市动态" />
        </activity>
        <activity
            android:name="com.sxit.activity.main.StandPoint_Activity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="智囊观点" />
        </activity>
        <activity
            android:name="com.sxit.activity.main.Live_Activity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="图文直播" />
        </activity>
        <activity
            android:name="com.sxit.activity.main.Duel_Activity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="多空对决" />
        </activity>
        <activity
            android:name="com.sxit.activity.main.Duel_Edit_Activity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="多空对决发布观点" />
        </activity>
        <activity
            android:name="com.sxit.activity.main.ImagePagerActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="图片查看" />
        </activity>
        <activity
            android:name="com.sxit.activity.smarter.Smarter_Activity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="智囊团" />
        </activity>
        <activity
            android:name="com.sxit.activity.smarter.GuestDetail_Activity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="嘉宾详情" />
        </activity>
        <activity
            android:name="com.sxit.activity.smarter.ExpertDetail_Activity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="牛人详情" />
        </activity>
        <activity
            android:name="com.sxit.activity.smarter.ExpertDetails_Activity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="牛人解盘详情页" />
        </activity>
        <activity
            android:name="com.sxit.activity.discuss.Discuss_Activity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="讨论组" />
        </activity>
        <activity
            android:name="com.sxit.activity.discuss.Discuss_Edit_Activity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:taskAffinity="" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="讨论组发帖" />
        </activity>
        <activity
            android:name="com.sxit.activity.qanda.QandA_Edit_Activity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:taskAffinity="" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="问股发帖" />
        </activity>
        <activity
            android:name="com.sxit.activity.qanda.MyAnswer_Edit_Activity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:taskAffinity="" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="问股解答" />
        </activity>
        <activity
            android:name="com.sxit.activity.qanda.QandA_Type_Activity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:taskAffinity="" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="问股类别" />
        </activity>
        <activity
            android:name="com.sxit.activity.discuss.Discuss_Type_Activity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:taskAffinity="" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="讨论组类别" />
        </activity>
        <activity
            android:name="com.sxit.activity.discuss.Discuss_Reply_Activity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:taskAffinity="" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="讨论组回复" />
        </activity>
        <activity
            android:name="com.sxit.activity.qanda.QandA_Activity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="问股" />
        </activity>
        <activity
            android:name="com.sxit.activity.qanda.QuestionDetail_Activity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="问股详情" />
        </activity>
        <activity
            android:name="com.sxit.activity.qanda.MyAnswer_Activity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="我的解答" />
        </activity>
        <activity
            android:name="com.sxit.activity.qanda.MyAnswerDetail_Activity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="我的解答详情" />
        </activity>
        <activity
            android:name="com.sxit.activity.th.MainTabHostActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="Tab切换页" />
        </activity>
        <activity
            android:name="com.sxit.activity.adviser.th.AMainTabHostActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="顾问Tab切换页" />
        </activity>
        <activity
            android:name="com.sxit.activity.th.item.Information_Activity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="信息" />
        </activity>
        <activity
            android:name="com.sxit.activity.adviser.th.item.InteractionMsg_Activity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="互动消息" />
        </activity>
        <activity
            android:name="com.sxit.activity.adviser.th.item.PublishMsgList_Activity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="发布消息列表" />
        </activity>
        <activity
            android:name="com.sxit.activity.adviser.publishmsg.PublishMsg_Acitivty"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="发布消息" />
        </activity>
        <activity
            android:name="com.sxit.activity.adviser.th.item.QuestionList_Activity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="问题列表" />
        </activity>
        <activity
            android:name="com.sxit.activity.adviser.answer.AAnswerQusestion_Activity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="回答问题" />
        </activity>
        <activity
            android:name="com.sxit.activity.th.item.Analyst_Activity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="顾问团" />
        </activity>
        <activity
            android:name="com.sxit.activity.th.item.AskQuestion_Activity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="提问" />
        </activity>
        <activity
            android:name="com.sxit.activity.login.Login_Activity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="用户登录" />
        </activity>
        <activity
            android:name="com.sxit.activity.login.AddPhoneNumActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="填写手机号" />
        </activity>
        <activity
            android:name="com.sxit.activity.login.BindPhoneNumActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="绑定手机号" />
        </activity>
           <activity
            android:name="com.sxit.activity.login.ResetPassword_Activity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="忘记密码中重置密码" />
        </activity>
        <activity
            android:name="com.sxit.activity.register.Register_Activity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="用户注册" />
        </activity>
        <activity
            android:name="com.sxit.activity.register.Agree_Activity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="注册协议" />
        </activity>
        <activity
            android:name="com.sxit.activity.agreement.AgreementActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="隐私协议" />
        </activity>
        <activity
            android:name="com.sxit.activity.chatmsg.Chat_Activity"
            android:configChanges="orientation|keyboardHidden"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="咨询聊天" />
        </activity>
        <activity
            android:name="com.sxit.activity.adviser.chatmsg.Chat_Activity"
            android:configChanges="orientation|keyboardHidden"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="顾问端聊天" />
        </activity>
        <activity
            android:name="com.sxit.activity.th.item.MyZone_Activity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="我的空间" />
        </activity>
        <activity
            android:name="com.sxit.activity.th.item.MyArticel_Activity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="我的帖子" />
        </activity>
        <activity
            android:name="com.sxit.activity.th.item.MyQuestion_Activity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="我的提问" />
        </activity>
        <activity
            android:name="com.sxit.activity.askingquest.AskingQuestionInfo_Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="提问" />
        </activity>
        <activity
            android:name="com.sxit.activity.adviser.publishmsg.PublishMsgInfo_Acitivty"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="研报详情" />
        </activity>
        <activity
            android:name="com.sxit.activity.askingquest.OpAnswerTimeActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="解答时限" />
        </activity>
        <activity
            android:name="com.sxit.activity.analystteaminfo.AnalystTeamInfo_Activity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="顾问个人资料" />
        </activity>
        <activity
            android:name="com.sxit.activity.news.News_Activity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="财经要文" />
        </activity>
        <activity
            android:name="com.sxit.activity.news.NewsInfo_Activity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="财经要文详情" />
        </activity>
        <activity
            android:name="com.sxit.activity.wap.Wap_Activity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="WAP页浏览" />
        </activity>
        <activity
            android:name="com.sxit.activity.wap.NewsAddCommentActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="WAP页评论" />
        </activity>
        <activity
            android:name="com.sxit.activity.wap.WapComment_Activity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="WAP评论浏览" />
        </activity>
        <activity
            android:name="com.sxit.activity.news.NewsList_Activity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="财经要文列表" />
        </activity>
        <activity
            android:name="com.sxit.activity.askingquest.AnswerQuestionInfo_Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="解答详情" />
        </activity>
        <activity
            android:name="com.sxit.activity.askingquest.AnswerQuestion_Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="解答" />
        </activity>
        <activity
            android:name="com.sxit.activity.usersetting.UserSetting_Activity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="编辑资料" />
        </activity>
        <activity
            android:name="com.sxit.activity.usersetting.UserSetting_Name_Activity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="昵称" />
        </activity>
        <activity
            android:name="com.sxit.activity.usersetting.UserSetting_Birth_Activity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="生日" />
        </activity>
        <activity
            android:name="com.sxit.activity.usersetting.DatePickerDialogActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Translucent"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="生日" />
        </activity>
        <activity
            android:name="com.sxit.activity.discuss.Discuss_ReplyOwner_Activity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Translucent"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="回复楼主" />
        </activity>
        <activity
            android:name="com.sxit.activity.discuss.Discuss_ReplyOther_Activity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Translucent"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="回复N楼" />
        </activity>
        <activity
            android:name="com.sxit.activity.usersetting.UserSetting_Password_Activity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="密码" />
        </activity>
        <activity
            android:name="com.sxit.activity.usersetting.UserSetting_Sex_Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="性别" />
        </activity>
        <activity
            android:name="com.sxit.activity.usersetting.Stock_Age_Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="股龄" />
        </activity>
        <activity
            android:name="com.sxit.activity.usersetting.Stock_Style_Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="投资风格" />
        </activity>
        <activity
            android:name="com.sxit.activity.register.City_Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="城市" />
        </activity>
        <activity
            android:name="com.sxit.activity.register.Province_Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="省" />
        </activity>
        <activity
            android:name="com.sxit.activity.register.CityNew_Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="城市" />
        </activity>
        <activity
            android:name="com.sxit.activity.register.Age_Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="股龄" />
        </activity>
        <activity
            android:name="com.sxit.activity.register.AgeLine_Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="投资风格" />
        </activity>
        <activity
            android:name="com.sxit.activity.register.EditPassword_Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="修改密码" />
        </activity>
        <activity
            android:name="com.sxit.activity.register.Sex_Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="性别" />
        </activity>
        <activity
            android:name="com.sxit.activity.setting.Setting_Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="应用设置" />
        </activity>
        <activity
            android:name="com.sxit.activity.adviser.updateheartcount.UpdateHeartCount_Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="红心设定" />
        </activity>
        <activity
            android:name="com.sxit.activity.adviser.publishmsg.ImageActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.alipay.sdk.pay.CommodityListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>

        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" >
        </service>

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <!-- umeng社会化分享 -->
        <activity
            android:name="com.umeng.socialize.view.ShareActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/Theme.UMDialog"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name="lnpdit.lntv.tradingtime.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- umeng push -->
        <!-- 监听通知点击或者忽略处理的广播 -->
        <receiver
            android:name="com.umeng.message.NotificationProxyBroadcastReceiver"
            android:exported="false" >
        </receiver>

        <!-- 监听开机运行、网络连接变化、卸载的广播 -->
        <receiver
            android:name="com.umeng.message.SystemReceiver"
            android:process=":push" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- 监听消息到达的广播 -->
        <receiver
            android:name="com.umeng.message.MessageReceiver"
            android:exported="false"
            android:process=":push" >
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE" />
            </intent-filter>
        </receiver>

        <!-- 监听宿主选举的广播 -->
        <receiver
            android:name="com.umeng.message.ElectionReceiver"
            android:process=":push" >
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.ELECTION_RESULT_V4" />

                <category android:name="umeng" />
            </intent-filter>
        </receiver>

        <!-- 监听注册的广播 -->
        <!-- 【应用包名】字符串需要替换成本应用的应用包名 -->
        <receiver
            android:name="com.umeng.message.RegistrationReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="lnpdit.lntv.tradingtime.intent.action.COMMAND" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.umeng.message.UmengMessageBootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- Umeng的长连服务，用来建立推送的长连接的 -->
        <!-- 【应用包名】字符串需要替换成本应用的应用包名 -->
        <service
            android:name="com.umeng.message.UmengService"
            android:exported="true"
            android:label="PushService"
            android:process=":push" >
            <intent-filter>
                <action android:name="lnpdit.lntv.tradingtime.intent.action.START" />
            </intent-filter>
            <intent-filter>
                <action android:name="lnpdit.lntv.tradingtime.intent.action.COCKROACH" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.PING_V4" />

                <category android:name="umeng" />
            </intent-filter>
        </service>

        <!-- Umeng的消息接收服务 -->
        <service
            android:name="com.umeng.message.UmengIntentService"
            android:process=":push" />
        <!-- 主线程轮巡服务 -->
         <service
            android:name="com.sxit.service.LocalService" >
        </service>
        <!-- Umeng的消息路由服务 -->
        <service
            android:name="com.umeng.message.UmengMessageIntentReceiverService"
            android:exported="true"
            android:process=":push" >
            <intent-filter>
                <action android:name="org.android.agoo.client.MessageReceiverService" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.android.agoo.client.ElectionReceiverService" />
            </intent-filter>
        </service>

        <!-- v2.4.1添加的Service，Umeng的消息接收后的处理服务 -->
        <service
            android:name="com.umeng.message.UmengMessageCallbackHandlerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.umeng.messge.registercallback.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.unregistercallback.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.message.handler.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.autoupdate.handler.action" />
            </intent-filter>
        </service>

        <!-- V1.3.0添加的service，负责下载通知的资源 -->
        <service android:name="com.umeng.message.UmengDownloadResourceService" />

        <!-- V2.5.0添加的Service，用于本地通知 -->
        <!-- 如果不使用本地通知，可以注释掉本地通知服务的配置 -->
        <service
            android:name="com.umeng.message.local.UmengLocalNotificationService"
            android:exported="false" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="561c7b54e0f55a05be000eb2" >
        </meta-data>
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="f42e18b28289185d7100cee13f1c6760" >
        </meta-data>
    </application>

</manifest>